* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
}

h2, button {
  color: hsl(0, 0%, 95%);
  
}

h2 {
  font-family: "Big Shoulders Display";
}

button {
  font-family: "Lexend Deca";
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca";
}

.sedan-div {
  background-color: hsl(31, 77%, 52%);
}

.sedan-button {
  color: hsl(31, 77%, 52%);
}

.suv-div {
  background-color: hsl(184, 100%, 22%);
}

.suv-button {
  color:hsl(184, 100%, 22%);
}

.luxury-div {
  background-color: hsl(179, 100%, 13%);
}

.luxury-button {
  color: hsl(179, 100%, 13%);
}

