* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
}