* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 850px;
}

.car-icon {
  margin-top: 50px;
  margin-left: 40px;
}

h1, button {
  color: hsl(0, 0%, 95%);
  text-align: left;
  margin-left: 40px;
}

h1 {
  font-family: "Big Shoulders Display";
  margin-top: 30px;
  margin-bottom: 25px;
}

button {
  font-family: "Lexend Deca";
  margin-top: 70px;
  height: 50px;
  width: 125px;
  text-align: center;
  border-radius: 50px;
  border: solid 2px hsl(0, 0%, 95%);
  font-weight: 400px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca";
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.sedan-div {
  background-color: hsl(31, 77%, 52%);
}

.sedan-button {
  color: hsl(31, 77%, 52%);
}

.suv-div {
  background-color: hsl(184, 100%, 22%);
}

.suv-button {
  color:hsl(184, 100%, 22%);
}

.luxury-div {
  background-color: hsl(179, 100%, 13%);
}

.luxury-button {
  color: hsl(179, 100%, 13%);
}

